* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* ===== BODY ===== */
body {
  --grad-pos: 0%;
  background: #1F2937;
  transition: background-position 0.15s linear;
  color: #1f2937;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* ===== HERO ===== */
.hero {
  height: 100vh;
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #27f5cc;
  font-weight: 700;
}

.hero p {
  font-size: 1.3rem;
  margin-top: .5rem;
}

/* ===== BUTTON ===== */
.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: .8rem 2rem;
  background: #27f5cc;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  transition: transform .3s ease, box-shadow .3s ease;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(124,58,237,0.35);
}

/* ===== SECTIONS ===== */
.section {
  padding: 6rem 1rem;
}

.section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #27f5cc;
}

/* ===== CARDS ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 1.5rem;
}

.card {
  background: #1F2937;
  backdrop-filter: blur(12px);
  padding: 2rem;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.12);
  transition: transform .35s ease, box-shadow .35s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.18);
}

.card i {
  font-size: 2rem;
  color: #27f5cc;
  margin-bottom: .5rem;
}

/* ===== ABOUT IMAGES ===== */
.about img {
  width: 100%;
  border-radius: 16px;
}

/* ===== FOOTER ===== */
footer {
  background: #1F2937;
  text-align: center;
  padding: 1.5rem;
  font-weight: 500;
}

/* ===== SCROLL REVEAL ===== */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all .8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }
}
